:root {
    --primary: #2c3e50;
    --accent: #3498db;
    --success: #27ae60;
    --danger: #e74c3c;
    --light: #f4f7f6;
    --dark: #333;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr; /* Layout Sidebar/Contenu */
}